body {
    background-image: url('../images/bg_page.png');
    background-repeat: repeat-y;
    background-size: contain;
    background-color: #FDF8A7;
    font-family: Baskerville, "Palatino Linotype", Times, serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Baskerville, "Palatino Linotype", Times, serif;
    font-size: 28px;
    color: #d97321; 
    margin-bottom: 20px;
}
p {
    font-family: Baskerville, "Palatino Linotype", Times, serif;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #5e5e5e;
}

p.advice {
    background-color: #faf4c2;
    border: 1px dashed #b18006;
    padding: 10px;
    margin: 20px 0;
    color: #3a3900;
}

p.advice strong {
    color: #9c290d;
    font-weight: bold;
}

h2 {
    font-family: Baskerville, "Palatino Linotype", Times, serif;
    font-size: 20px;
    color: #BA7B48;
    margin-top: 45px;
    margin-bottom: 10px;
}
h3 {
    font-family: Baskerville, "Palatino Linotype", Times, serif;
    font-size: 18px;
    color: #BA7B48; 
    margin-top: 30px;
    margin-bottom: 10px;
}
#content {
    width: 890px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}
#banner img {
    width: 100%;
    height: 250px;
}
#help {
    color: #BA7B48;}

