body{
    font-family: Verdana, sans-serif;
    background-image: url('../images/bg_body.png');
    background-repeat: repeat-x;
    background-color:#96c1f2;
}
h1{
    color: mediumblue;
    padding-top: 60px;
    font-size: 60px;
}
.intro{
    color:#36568d;
    padding: 0;
}
h2{
    background-image: url('../../assets/images/lb3/bg_h2.png');
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
    color:#36568d;
    border-bottom: 8px solid white;
    padding-bottom: 5px;
}
p{
    padding-left: 40px;
}
pre{
    color: #36568d;
}
address{
    color: darkblue;
    text-align: center;
}